{% extends "layout/base.html" %}

{% block content %}
<h1>Список книг</h1>
<p>Всего книг: {{ book_list.count }}</p>

<h2>Фильтр книг по рейтингу</h2>
<form method="get" action="{% url 'catalog:books' %}">
  <label for="rating">Выберите рейтинг:</label>
  <select name="rating" id="rating">
      <option value="">Все рейтинги</option>
      {% for i in "12345" %}
          <option value="{{ i }}" {% if request.GET.rating == i %}selected{% endif %}>{{ i }}</option>
      {% endfor %}
  </select>
  <button type="submit">Фильтровать</button>
</form>

{% if book_list %}
<ul>
    {% for book in book_list %}
    <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{ book.author }}) - Рейтинг: {{ book.rating }}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Книги с выбранным рейтингом не найдены.</p> 
{% endif %}
{% endblock %}